<div class="container circleSection">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h2>The Circle Object</h2>
      <p>Enter the radius of a circle.</p>
      <input id="radiusInput" ng-model="dc.radiusInput" type="number" placeholder="Enter a Radius">
      <button class="btn btn-default" id="circleBtn" ng-click="dc.checkCircleInputs(dc.radiusInput)">CREATE</button>
    </div>
  </div> <!-- end of row -->
  <div class="row">
    <div class="col-md-12">
      <p id="results">{{dc.newCircle.toString}}</p>
    </div>
  </div> <!-- end of row -->
  <div class="row">
    <div class="col-md-12">
      <div class="circleDiv"></div>
    </div>
  </div> <!-- end of row -->
</div> <!-- end of container circleSection -->
