<div class="container squareSection">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h2>The Square Object</h2>
      <input id="widthInput" ng-model="dc.lengthInput" type="number" placeholder="Enter a Length">
      <button class="btn btn-default" id="squareBtn" ng-click="dc.checkSquareInputs(dc.lengthInput)">Square</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p id="results">{{dc.squareObject.string}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="squareDiv">

      </div>
    </div>
  </div>
</div>
